@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Outfit:wght@100;300&display=swap');

#botonVaciar  {
    width: 150px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#botonIrAComprar {
    width: 150px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 45%;
}

#botonTerminar {
    width: 200px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.botones {
    display: flex;
    justify-content: center;
}

#botonEliminar{
margin-left: 40px;
margin-top: 25px;
height: 40px;
}

.containerCarrito {
    margin-left: 40px;
    max-width: 1200px;
    margin-top: 20px;
    
}

.productoCarrito {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    
}

.tituloCarrito {
    font-family: 'Outfit', sans-serif;
    color: #F4989C;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.tituloProducto {
    
    font-family: 'Outfit', sans-serif;
    color: #F4989C;
    font-weight: bold;
    font-size: 30px;
    
}
 
.subtituloCarrito {
    font-family: 'Outfit', sans-serif;
    color: #5d4d71;
    font-size: 20px;
    margin-left: 35px;
     
}

.TotalCarrito {
    font-family: 'Outfit', sans-serif;
    color: #5d4d71;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.imgCarrito {
    width: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: solid ;
    border-color: rgb(127, 124, 124);
    margin-left: 40px;
}
