@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Outfit:wght@100;300&display=swap');
 
.text-container {
    font-family: 'Outfit', sans-serif;
    color: #9d81c1;
    margin-top: 30px;
    margin-left: 30px;
   font-size: 20px;
  }
  