@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Outfit:wght@100;300&display=swap');
 
.div {
  background-image: url(./back3.png);
}
.titulo {
  text-align: center;
  font-family:  'Amatic SC', cursive;
  font-size: 80px;
  color: #F4989C;
}

.subtitulo {
  font-family: 'Outfit', sans-serif;
  color: #9d81c1;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #9d81c1;
}

